<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
	<div class="jumbotron bg-dark text-white py-3 px-5">
		<h3 class="display-3 text-center">Hello, this is the admin panel</h3>
	</div>
	<div class="container" style="height: 80vh;">
		<a href="/staffs/logout">Logout</a>
		
	</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>